
#calibrationCall{
    font-size: 20px;
    position: fixed;
    top: 700px;
    left: 820px;
}

#calibrationButton {
    background-color: white; 
    position: fixed;
    left: 960px;
    top: 820px;
    color: red;
    text-align: center;
    text-decoration: none;
    border : none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 4px;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 60%;
    outline:none;
}


#calibrationButton:hover {
    color: green;
}

#question {
    position: fixed;
    left: 920px;
    top: 790px;
    /* text-align: center; */
    font-size: 48px;
    display: none;
}


.categoryButton{
    
    background-color: #e7e7e7; color: black;
    font-size: 48px;
    transition-duration: 0.2s;
    width: 25%;
    border: none;
    padding: 10px 10px;
    outline: none;
    font-size: 32px;

}

.categoryButton:hover {
    background-color:#6e6d6d ;
}


#option1{
    position: fixed;
    top: 0;
    left: 0;
    display: none;


}

#option2{
    position:absolute;
    top:0;
    right:0;
    display: none;

}

#feedbackCorrect{
    display: none;
    color: green;
    position:fixed;
    top:400px;
    left:920px;
    font-size: 32px;
}

#feedbackIncorrect{
    display: none;
    color: red;
    position:fixed;
    top:400px;
    left:700px;
    font-size: 32px;

}